apiVersion: v1
kind: Pod
metadata:
  name: cnfenvpof
spec:
  containers:
  - name: c2
    image: centos
    command: ["/bin/bash", "-c", "while true; do echo hello-world; sleep 5 ; done"]
    env:
    - name: MYENV         # env name in which value of the key is stored
      valueFrom:
        configMapKeyRef:
          name: app      # name of the config created
          key: sample.conf            
